body{
    height: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background:  #1d1d24;
    
    
}

#baseboard-container{
color: aqua;
padding: 60px;
margin-left: 60px;
}

#backgroud-img{
  height: 100px;
  width: 100px;
}
#baseboard-text{
  font-size: 72px;
}
#main-container{
  margin-top: 150px;
  height: 800px;
  display: row;
  justify-content: center;
}
h1.title-main{
  display: flex;
  text-align: center;
  justify-content: center;  
  font-size: 54px;
}

h1.title-main spantitle{
  opacity: 0;
  transform: translateY(30px);
  animation: title-main 0.5s ease-out forwards;
  display:inline-block;
   
}

h1.title-main spantitle:nth-of-type(0){
  animation-delay: 1s;
}

@keyframes title-main{
  to{
    opacity: 1;
    transform: translateY(0);
  }
}


h3.subtitle-main{
  font-size: 36px; 
  text-align: center;
}

h3.subtitle-main spansubtitle{
  opacity: 0;
  transform: translateY(30px);
  animation: subtitle-main 0.5s ease-out forwards;
  display:inline-block;
   
}
h3.subtitle-main spansubtitle:nth-of-type(1){
  animation-delay: 1.2s;
}

h3.subtitle-main spansubtitle:nth-of-type(2){
  animation-delay: 2.2s;
}

h3.subtitle-main spansubtitle:nth-of-type(3){
  animation-delay: 3.2s;
}
h3.subtitle-main spansubtitle:nth-of-type(4){
  animation-delay: 4.2s;
}

@keyframes subtitle-main{
  to{
    opacity: 1;
    transform: translateY(0);
  }
} 


#profile-container{
color: white;

}

.box-img{
  position: relative;
  width: 450px;
  height: 450px;
  margin-left: 120px;
  background-color: rgba(0, 0, 0, 5);
  border-radius: 50%;
  overflow: hidden;
}

.box-img::before{
  content: '';
  position: absolute;
  inset: -10px 140px;
  background: linear-gradient(315deg,#00ccff,#d400d4);
  animation: animate 4s linear infinite;


}

.box-img:hover::before{
inset: -20px 0px;
}

@keyframes animate{
  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg);
  }
}

.box-img::after
{
content: '';
position: absolute;
inset: 4px;
background: #162052;
border-radius: 50%;
z-index: 1;
}

.img-container{
  color: white;
  position: absolute;
  inset: 25px;
  border: 4px solid #070a1c;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  pointer-events: none;
}

.box-img:hover .img-container img{
  opacity: 0;
}

#profile-text{
    margin-left: 650px;
    margin-top: -450px;
    width: 1000px;

}

#about-me{
    font-size: 34px; 

}
#profile-title{
   font-size: 46px; 

}

#profile-bio{
    font-size: 22px;
    font-weight: 400; 

}

.button {
    --color: #00A97F;
    padding: 0.8em 2.5em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 16px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    margin-top: 25px;
  }
  
  .button a {
    text-decoration: none; /* Remover sublinhado do link */
    color: inherit; /* Herdar a cor do texto do botão */
  }
  
  .button::before,
  .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
  }
  
  .button::before {
    top: -1em;
    left: -1em;
  }
  
  .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
  }
  
  .button:hover::before,
  .button:hover::after {
    height: 410px;
    width: 410px;
  }
  
  .button:hover {
    color: rgb(10, 25, 30);
  }
  
  .button:active {
    filter: brightness(.8);
  }
   
#skills-title
{
  text-align: center;
  margin-right: 420px;
  margin-top: 200px;
}

#skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: right;
    margin-top: 50px;
    margin-right: 300px;
}

.skill {
    text-align: center;
    margin: 40px;
}

.img-skills {
    width: 70px; /* ajuste conforme necessário */
    height: 70px; /* ajuste conforme necessário */
}

#projects-container{
  
}

#project-texts{
  display: flex;
  flex-direction: column;
  text-align: center;

}
#projects-title{
margin-top: 80px;
}
#projects-subtitle{
  margin-top: 10px;
font-size: 46px;
color: #00A97F;
}

#projects-info{
height: 1000px;

}